[submodule "cpp_src/gumbo-query"]
	path = cpp_src/gumbo-query
	url = https://github.com/lazytiger/gumbo-query.git
[submodule "cpp_src/gumbo-parser"]
	path = cpp_src/gumbo-parser
	url = https://github.com/google/gumbo-parser.git
